.lessons_ctn {
}
/* === SESSION SECTION === */
.session-section {
	background-color: black;
	height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.session-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 200px 2em;
}

.session-title {
	font-family: "NCL Astonic";
	font-size: 2em;
	color: var(--clr-brand);
}

.session-cards {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5em;
}

.session-card {
	border: 1px solid var(--clr-brand);
	width: 100%;
	min-height: 300px;
	height: 80%;
	text-align: center;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.session-card-title {
	font-family: Anton;
	font-size: 2em;
}

.session-card-description {
	font-size: 1.25em;
}

/* === CALL TO ACTION BUTTON === */
.session-button {
	border: 1px solid var(--clr-brand);
	padding: 1em;
	background-color: var(--clr-brand);
	color: black;
	transition: 250ms all ease-in-out;
}

.session-button:hover {
	background-color: transparent;
	color: var(--clr-brand);
}

@media (min-width: 768px) {
	.session-container {
		padding: 0 2em;
	}
	.session-cards {
		flex-direction: row;
	}
	.session-title {
		font-size: 4em;
	}
}
