.footer_ctn {
	background-color: black !important;
	color: white;
	width: 100%;
	bottom: 0;
	right: 0;
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.list_ctn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	ul {
		width: 40%;
		text-align: center;
		gap: 1em;
		display: flex;
		flex-direction: column;
	}
	.logo {
		width: 5em;
		height: auto;
		aspect-ratio: 1/1;
		object-fit: cover;
		z-index: 99;
	}
}
