/* [project]/components/metronome/metronome.scss.css [app-client] (css) */
*, :before, :after {
  box-sizing: border-box;
  --test-border: 1px solid black;
  --primary: #81a1bc;
  --secondary: #abc0d2;
  --ternary: #d5e0e9;
  --primary-overlay: #81a1bcbf;
}

.metronome-ctn {
  justify-content: center;
  align-items: center;
  width: clamp(400px, 80svw, 2000px);
  margin: 5em auto;
  display: flex;
}

.metronome {
  z-index: 1;
  background-color: #000;
  border-radius: 26px;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  padding: 1.5em;
  transition: all .15s cubic-bezier(.49, .03, .61, 1.93);
  display: flex;
  box-shadow: 15px 15px 100px teal;
}

.metronome .header img {
  color: #1edfa5;
  object-fit: cover;
  aspect-ratio: 1;
  width: auto;
  height: 100px;
}

.metro-display {
  background-color: teal;
  border-radius: 16px;
  grid-template-columns: 20% 1fr 20%;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 65px;
  display: grid;
}

.metro-display > .metro-btn {
  text-align: center;
  color: #1edfa5;
  background-color: #000;
  border: 1px solid teal;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2.5em;
  transition: all .15s ease-in;
  display: flex;
}

.metro-display > .metro-btn:hover {
  color: #000;
  background-color: #1edfa5;
  box-shadow: 5px 5px 50px teal;
}

.metro-display > .bpm {
  border: none;
  width: 100%;
  font-size: 1.5em;
  display: flex;
}

.metro-btn.decrement, .metro-btn.increment {
  margin-top: -5px;
  transition: all .1s ease-in-out;
}

.metro-btn.decrement {
  border-radius: 16px 0 0 16px;
}

.metro-btn.increment {
  border-radius: 0 16px 16px 0;
}

.metro-btn.increment:hover, .metro-btn.decrement:hover {
  color: #000;
  background-color: #1edfa5;
}

.metro-btn.decrement:active, .metro-btn.increment:active {
  margin-top: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-ms-track {
  cursor: pointer;
  color: #0000;
  background: none;
  border-color: #0000;
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  margin: 18px 0;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  cursor: pointer;
  background: teal;
  border-radius: 1.3px;
  width: 90%;
  height: 8.4px;
}

input[type="range"]::-webkit-slider-thumb {
  aspect-ratio: 1;
  cursor: pointer;
  -webkit-appearance: none;
  background: #1edfa5;
  border-radius: 30px;
  width: auto;
  height: 25px;
  margin-top: -7px;
}

input[type="range"]::-webkit-slider-thumb input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 15px 15px 100px teal;
}

input[type="range"]::-moz-range-track {
  cursor: pointer;
  background: #3071a9;
  border-radius: 1.3px;
  width: 80%;
  height: 8.4px;
}

input[type="range"]::-moz-range-thumb {
  cursor: pointer;
  background: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  width: 16px;
  height: 36px;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

input[type="range"]::-ms-track {
  cursor: pointer;
  color: #0000;
  background: none;
  border-width: 16px 0;
  border-color: #0000;
  width: 80%;
  height: 8.4px;
}

input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: .2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: .2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

input[type="range"]::-ms-thumb {
  cursor: pointer;
  background: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  width: 16px;
  height: 36px;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}

.noSelect {
  -webkit-tap-highlight-color: #0000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

.metro-controls {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1em 0 0;
  display: flex;
  position: relative;
}

.metro-btn {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}

.play {
  box-sizing: content-box;
  z-index: 10;
  background-color: #000;
  border: .125em solid #1edfa5;
  border-radius: 250px;
  width: 5em;
  height: 5em;
  margin-bottom: 2em;
  transition: all .15s ease-in;
  position: relative;
}

.play:hover {
  box-shadow: 15px 15px 100px teal;
}

.play:hover:active {
  box-shadow: none;
  color: #000;
}

.play:after {
  content: "";
  background-image: url("/play.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 45%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 35%;
}

.metro-btn-tap {
  z-index: 9;
  color: #1edfa5;
  cursor: pointer;
  background-color: #000;
  border: 1px solid teal;
  border-radius: 25px;
  width: 5em;
  height: 5em;
  transition: all .15s ease-in;
  position: absolute;
  right: 0%;
}

.metro-btn-tap .outer {
  content: "";
  border: 5px solid #1edfa5;
  border-radius: 50%;
  width: 30px;
  height: 2em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.metro-btn-tap .inner {
  content: "";
  border: 5px solid #1edfa5;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: transform .25s ease-in;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.metro-btn-tap:hover {
  box-shadow: 15px 15px 100px teal;
}

.metro-btn-tap:hover:active {
  box-shadow: none;
  color: #000;
}

.metro-btn-generate {
  z-index: 9;
  color: #1edfa5;
  cursor: pointer;
  z-index: 1;
  background-color: #0000;
  border: 1px solid teal;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 5em;
  transition: all .15s ease-in;
  display: flex;
  position: absolute;
  left: 0%;
}

.metro-btn-generate:hover {
  opacity: 1;
  box-shadow: 15px 15px 100px teal;
}

.pause {
  box-sizing: content-box;
  z-index: 10;
  color: #1edfa5;
  background-color: #0000;
  border: .5em solid #1edfa5;
  border-radius: 250px;
  width: 10em;
  height: 10em;
  margin-bottom: 4em;
  position: relative;
}

.pause:after {
  content: "";
  background-image: url("/pause.svg");
  background-position: center;
  background-size: cover;
  width: 40%;
  height: 55%;
  position: absolute;
  top: 23%;
  left: 30%;
}

.pause:hover {
  box-shadow: 15px 15px 100px teal;
}

.pause:hover:active {
  box-shadow: none;
  color: #000;
}

.metro-dropdown-header {
  cursor: pointer;
  background-color: teal;
  border-radius: 26px;
  width: 100%;
  padding: 1em;
  transition: all .15s ease-in;
}

.metro-dropdown-header:hover {
  background-color: var(--primary);
}

.metro-dropdown {
  width: 100%;
  height: 20%;
  transition: all .25s cubic-bezier(1, 0, 0, 1);
  position: absolute;
}

.metro-dropdown.open {
  width: 100%;
  height: 100%;
  padding: .5em;
  transition: all .1s ease-in;
  bottom: -97%;
  right: 1%;
}

.metro-dropdown.closed {
  transition: all .1s ease-in;
  transform: translateY(-45%);
}

.metro-dropdown-item {
  background-color: teal;
  border-radius: 26px;
  width: 100%;
  margin: .5em 0;
  padding: 1em;
  transition: all .15s ease-in;
}

.metro-dropdown-item:hover {
  background-color: var(--primary);
}

@keyframes pulse {
  0% {
    box-shadow: 15px 15px 100px teal;
  }

  100% {
    box-shadow: 15px 15px teal;
  }
}

@media (width <= 900px) {
  .metronome-ctn {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=components_metronome_metronome_scss_css_f9ee138c._.single.css.map*/