/* [project]/components/Nav_alt.css [app-client] (css) */
header {
  background-color: var(--clr-primary-cta);
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
}

.navbar {
  backdrop-filter: blur(5px);
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100svw;
  display: flex;
}

.navbar .links {
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2em 0;
  list-style: none;
  display: none;
}

.navbar .links.showing {
  flex-direction: column;
  display: flex;
}

.navbar .links > li {
  color: var(--accent);
  text-align: center;
  border-radius: 30px;
  width: 100%;
  padding: .8em 1em;
  font-size: 1.1rem;
  font-weight: 400;
}

.navbar .links > li > a {
  color: inherit;
  text-decoration: none;
  transition: all .15s ease-in-out;
}

.navbar .links > li > a:hover {
  color: var(--accent);
}

.navbar .hamburger {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1.75em;
  height: 1.75em;
  margin-right: 2em;
  padding: 1em 0;
  display: flex;
  position: relative;
  right: 0;
}

.navbar .hamburger .hamburger-bar:first-child, .navbar .hamburger .hamburger-bar:nth-child(2), .navbar .hamburger .hamburger-bar:nth-child(3), .navbar .hamburger .hamburger-bar:nth-child(4) {
  border: 1px solid #fff;
  width: 30px;
  transition: all .25s ease-in-out;
}

.navbar .hamburger .hamburger-bar:nth-child(2), .navbar .hamburger .hamburger-bar:nth-child(3) {
  content: "";
  margin-top: 48%;
  position: absolute;
}

.navbar .hamburger .hamburger-bar:nth-child(4) {
  border-bottom: 2px solid #fff;
  width: 32px;
}

.navbar .hamburger.showing .hamburger-bar:first-child, .navbar .hamburger.showing .hamburger-bar:nth-child(4) {
  transform: scaleX(0);
}

.navbar .hamburger.showing .hamburger-bar:nth-child(2) {
  transform: rotate(45deg);
}

.navbar .hamburger.showing .hamburger-bar:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-active {
  background-color: var(--secondary-o2);
  justify-content: center;
  height: 3em;
  transition: all .25s ease-in-out;
  display: flex;
}

.nav-active > links {
  width: var(--section-clamp);
}

.nav-active > links > li {
  color: var(--secondary-o2);
  text-align: center;
  border-radius: 30px;
  width: 100%;
  padding: .8em 1em;
  font-size: 1.1rem;
  font-weight: 400;
}

.nav-active > links > li.active {
  background-color: var(--secondary-o2);
  color: #fff;
}

@media (width >= 768px) {
  .navbar {
    backdrop-filter: blur(5px);
    z-index: 100;
    background-color: #0000;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5em;
    transition: all .25s ease-in-out;
    display: flex;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar > .links {
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar > .links > li {
    color: var(--secondary);
    text-align: center;
    border-radius: 30px;
    width: 100%;
    padding: .8em 1em;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .navbar .hamburger {
    display: none;
  }

  .nav-active {
    background-color: var(--secondary-o2);
    height: 3em;
    transition: all .25s ease-in-out;
  }

  .nav-active > .links > li {
    color: var(--secondary);
    text-align: center;
    border-radius: 30px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .nav-active > .links > li.active {
    background-color: var(--secondary-o2);
    color: #fff;
  }

  .nav-active {
    height: 4em;
    width: var(--section-clamp);
    border-radius: 40px;
    margin: auto;
  }

  .nav-active > links > li {
    font-size: 1.2em;
  }

  .login-btn {
    padding: 0;
  }
}

/*# sourceMappingURL=components_Nav_alt_css_f9ee138c._.single.css.map*/