.dashboard_ctn {
	width: 100%;
	* {
		/* outline: 1px solid red; */
	}
	h1 {
		color: var(--clr-text-title-brand);
	}
	p {
		color: var(--clr-text-primary);
	}
}

.dashboard_box {
	background: var(--clr-box-bg);
	border: 1px solid var(--clr-box-border);
	border-radius: var(--border-radius);
	padding: 1em;
	&.activity {
		padding: 0.25em;
	}
}

.dashboard_section {
	margin: 1em auto;
	padding: 0 1em;
	max-width: 1000px;
	opacity: 0;
}

.section_title {
	font-size: 1.2em;
	font-weight: bold;
}
.welcome_banner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--clr-brand);
	background: var(--gradient-brand-h);
	padding: 1em 0;
	width: 100%;
	opacity: 0;
	> p {
		font-size: large;
		font-weight: 900;
		color: var(--clr-brand);
		margin-bottom: -15px;
	}
	> h1 {
		font-size: 2.5em;
		font-weight: 900;
		margin-bottom: 0.5em;
	}
}

.announcement_box {
	width: calc(100% - 2em);
	height: 10em;
	> h1 {
		font-size: 1.25em;
		font-weight: bold;
	}
	> p {
		font-size: 0.8em;
	}

	.announcement_footer {
		margin: 1em 0 0 0;
	}
}

.dashboard_btn {
	border-radius: 50px;
	padding: 1em;
	background: var(--clr-box-border);
	font-size: 0.75em;
	min-width: 10em;
	transition: 150ms ease-in-out all;
	text-align: center;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		color: var(--clr-brand);
		outline: 1px solid var(--clr-brand);
		background: transparent;
	}

	&.cta {
		background: var(--clr-brand);
		color: black;
		border: none;
		padding: 0.5em;
	}
}

.dashboard_card {
	/* height: 20em; */
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.dashboard-card_header {
		padding: 0.5em 0;
		> h1 {
			color: var(--clr-text-title-brand);
			font-weight: bold;
			font-size: 1.25em;
			text-align: center;
		}
	}
	.dashboard-card_body {
		height: 100%;
		> .dashboard-card_content {
			font-size: 0.75em;
		}
	}

	.sticker {
		position: absolute;
		top: 0;
		left: 0;
		background: lightgray;
		color: rgb(48, 48, 48);
		padding: 0.5em;
		font-size: 0.4em;
		text-align: center;
		font-weight: 900;
		letter-spacing: 10%;
		border-radius: var(--border-radius);
		display: flex;
		align-items: center;

		&.completed {
			background: var(--clr-cta-accent);
		}
	}
}

.user-stats_ctn {
	.user-stats_item {
		width: 100%;
		> h1 {
			font-weight: bold;
		}

		.data_ctn {
			> p {
				color: var(--clr-cta-accent);
				font-size: 1em;
				font-weight: bold;

				&.no-data {
					color: gray;
					font-size: 0.75em;
					font-weight: 400;
				}
			}
		}
	}
}

.activity {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.no-data {
	color: gray;
}

@media (min-width: 768px) {
	.user-stats_ctn {
		.user-stats_item {
			&:last-child {
				margin-left: 1em;
			}
			> h1 {
				font-weight: bold;
			}

			.data_ctn {
				> p {
					color: var(--clr-cta-accent);
					font-size: 1.5em;
					font-weight: bold;

					&.no-data {
						color: gray;
						font-size: 0.75em;
						font-weight: 400;
					}
				}
			}
		}
	}

	.announcement_box {
		max-width: 275px;
		height: 10em;
		> h1 {
			font-size: 1.25em;
			font-weight: bold;
		}
		> p {
			font-size: 0.8em;
		}

		.announcement_footer {
			margin: 1em 0 0 0;
		}
	}
}
